[Desktop Entry]
Comment=Run Windows 10
Exec=/home/stewi/Virtual/vfio/win10.sh
Icon=/home/stewi/Virtual/vfio/win10.svg
Name=Windows 10
StartupWMClass=looking-glass-client
Type=Application
