#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Run Windows 11
Exec=/home/stewi/Virtual/vfio/win11.sh
Icon=/home/stewi/Virtual/vfio/win11.svg
Name=Windows 11
StartupWMClass=looking-glass-client
Type=Application
Terminal=true
